@font-face
{
	font-family: Roboto_Slab_Regular;
	src: url(./fonts/RobotoSlab-Regular.ttf);
}

a
{
	text-decoration: none;
}

body
{
	font-family: Roboto_Slab_Regular;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -22px;
}

.box
{
	/*Pushes box & caption text
	into the middle of image*/
	position: relative;
	bottom: 3.4em;
	
	/*Sets size of box*/
	height: 50px;
	width: 335px;
	
	/*Sets div in proper location
	rather than all the way to the
	left*/
	display: inline-block;
	
	background-color: rgba(0,0,0,0.5);
}

.center
{
	text-align: center;
}

.image-caption
{
	color: #ffffff;
	position: relative;
	text-shadow: 2px 2px #000000;
}

.nav-link
{
	color: #ffffff;
	font-size: 1.5em;
	padding-right: 1em;
	text-shadow: 2px 2px #000000;
}

.page-grid
{
	display: grid;
	grid-template-columns: auto auto auto;
}

.project-image
{
	height: 200px;
	width: auto;
}

.project-tile
{
	display: grid;
	grid-row-gap: 1em;
	grid-template-columns: auto auto;
}

.white-text
{
	color: #ffffff;
}

#codepen
{
	height: 60px;
	width: auto;
}

#freecodecamp
{
	height: 70px;
	width: auto;
}

#github
{
	height: 80px;
	width: auto;
}

#name
{
	position: relative;
	top: 15em;

	text-shadow: 2px 2px #000000;
}

#navbar
{
	position: fixed;
	top: 0;
	right: 3%;
}

#more
{
	background-color: #00b0ff;
	margin-top: -22px;
	margin-bottom: -8px;
}

#profile-link
{

}

#projects
{
	background-color: #0081cb;
	/*margin-left: -6px;*/
	/*margin-right: -6px;*/
}

#title
{
	position: relative;
	top: 20em;

	text-shadow: 2px 2px #000000;
}

#welcome-section
{
	background-image: url("./images/header.jpg");
	/*Used to keep background image centered when
	resizing browser window*/
	background-position: center center;
	background-size: cover;
	/*Used vh which is a
	 pretty useful unit,
	 it is relative to 
	 1% of the height of
	 the viewport*/
	height: 100vh;
	margin-bottom: -22px;
}

@media(max-width: 1136px)
{
	.page-grid
	{
		display: grid;
		grid-row-gap: 2em;
		grid-template-columns: auto;
	}

	.project-tile
{
	display: grid;
	grid-row-gap: 1em;
	grid-template-columns: auto;
}
}