.center
{
	text-align: center;
}

.project-image
{
	height: 200px;
	width: auto;
}

.project-tile
{
	display: grid;
	grid-row-gap: 40px;
	grid-template-columns: auto auto;
}

#github
{
	height: 80px;
	width: auto;
}

#navbar
{
	position: fixed;
	top: 0;
	left: 0;
}

#more
{

}

#profile-link
{

}

#projects
{
	background-color: pink;
	margin-left: -6px;
	margin-right: -6px;
}

#welcome-section
{
	/*Used vh which is a
	 pretty useful unit,
	 it is relative to 
	 1% of the height of
	 the viewport*/
	height: 100vh;
}

@media(max-width: 900px)
{
	/*Place holder*/
	p
	{
		color: black;
	}
}